openapi: 3.0.0
info:
  description: Sentiment Insights for Bazaarvoice Reviews
  version: 1.0.0
  x-api-id: d0184f38-b98d-11e7-9c56-68f728c1ba70
  x-audience: external-partner
  title: Content Intelligence API
  contact:
    email: ReviewHighlights@BVoice.onmicrosoft.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
tags:
  - name: features
  - name: quotes
paths:
  /quotes/positive-quotes:
    get:
      tags:
        - quotes
      summary: Provides top 25 positive quotes
      description: List top quotes for a product under a client
      operationId: something
      parameters:
        - name: client
          in: query
          description: name of client
          required: true
          schema:
            type: string
        - name: product_external_id
          in: query
          description: external id of product
          required: true
          schema:
            type: string
        - name: native_language
          in: query
          description: optional language filter
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductQuotes'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '504':
          description: Request timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      security:
        - BearerAuth: []
  /features/top-features:
    get:
      tags:
        - features
      summary: Provides top 5 best and worst features
      description: ''
      parameters:
        - name: client
          in: query
          description: ID of client
          required: true
          schema:
            type: string
        - name: product_external_id
          in: query
          description: ID of product
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductFeatures'
        '400':
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '504':
          description: Request timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
      security:
        - BearerAuth: []
  /features/top-features/quotes:
    get:
      tags:
        - features
      summary: Provides top 5 best and worst features with quotes
      description: ''
      parameters:
        - name: client
          in: query
          description: ID of client
          required: true
          schema:
            type: string
        - name: product_external_id
          in: query
          description: ID of product
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductFeatureQuotes'
        '400':
          description: Invalid Request
        '404':
          description: Resource not found
        '504':
          description: Request timeout
      security:
        - BearerAuth: []
  /features/top-features/reviews:
    get:
      tags:
        - features
      summary: best and worst features with reviews associated
      description: ''
      parameters:
        - name: client
          in: query
          description: ID of client
          required: true
          schema:
            type: string
        - name: product_external_id
          in: query
          description: ID of product
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopFeatureReviews'
        '400':
          description: Invalid Request
        '404':
          description: Resource not found
        '504':
          description: Request timeout
      security:
        - BearerAuth: []
  /features/reviews:
    get:
      tags:
        - features
      summary: summary of features with reviews associated
      description: ''
      parameters:
        - name: client
          in: query
          description: ID of client
          required: true
          schema:
            type: string
        - name: product_external_id
          in: query
          description: ID of product
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureReviews'
        '400':
          description: Invalid Request
        '404':
          description: Resource not found
        '504':
          description: Request timeout
      security:
        - BearerAuth: []
servers:
  - url: 'https://content-intelligence-api-prod.bazaarvoice.com/v1'
  - url: 'https://content-intelligence-api-stg.bazaarvoice.com/v1'
  - url: 'https://content-intelligence-api-qa.bazaarvoice.com/v1'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Quotes:
      type: object
      properties:
        quote_id:
          type: string
          example: J7lyG+RRg5Ubs60dcGRPWxcKCUM
        quote:
          type: string
          example: I Love it !!
        translated_quote:
          type: string
          example: I Love it !!
        review_id:
          type: string
          example: 5696efc2-3605-59aa-b4be-64ed6a6dad13
        review_date:
          type: string
          format: date-time
        review_rating:
          type: integer
          example: 5
        native_language:
          type: string
          example: en
        review_type:
          type: string
          enum:
            - syndicated
            - native
    Reviews:
      type: object
      properties:
        review_id:
          type: string
          example: a3951015-3a55-5e43-9d18-8b2d3bae5b1c
        title:
          type: string
          example: Perfect for Pregnancy!
        text:
          type: string
          example: >-
            This is so great! I use the elasticity oil first, then the
            perfecting cream on my growing baby belly! It is amazing and the
            moisture lasts all day long!
        review_date:
          type: string
          format: date-time
        review_rating:
          type: integer
          example: 5
        sentiment:
          type: number
          example: 1
        highlighted_text:
          type: string
          example: >-
            This is so great! I use the elasticity oil first, then the
            perfecting cream on my growing baby belly! It is
            amazing and the moisture lasts all day long!
        highlighted_title:
          type: string
          example: Perfect for Pregnancy!
    ProductQuotes:
      type: object
      properties:
        product_external_id:
          type: string
          example: 'product::8552878'
        quotes:
          type: array
          items:
            $ref: '#/components/schemas/Quotes'
    FeatureReviews:
      type: array
      items:
        properties:
          product_external_id:
            type: string
            example: 'product::8552878'
          review_id:
            type: string
            example: a3951015-3a55-5e43-9d18-8b2d3bae5b1c
          review_date:
            type: string
            format: date-time
          native_language:
            type: string
            example: fr
          review_rating:
            type: string
            example: 5
          is_incentivized:
            type: boolean
            example: true
          feature_name:
            type: string
            example: picture quality
          native_feature:
            type: string
            example: qualité des images
          sentiment:
            type: number
            example: 1
          review_text:
            type: string
            example: Je peux croire la qualité de l'image. c'est si bon
          review_title:
            type: string
            example: Objectif net et mise au point rapide
          highlighted_text:
            type: string
            example: Je peux croire la qualité de l'image. c'est si bon
          highlighted_title:
            type: string
            example: Objectif net et mise au point rapide
          en_translated_title:
            type: string
            example: 'product::8552878'
          en_translated_text:
            type: string
            example: >-
              I'm really impressed with how well this lens works in low light,
              since I photograph baseball. Works well with my 7D, clarity is
              nice, and focuses very fast. The lens optical elements are amazing
              with how well the pictures come out. It will be a great asset when
              I photograph basketball late this year
    ProductFeatures:
      type: object
      properties:
        product_external_id:
          type: string
          example: 'product::8552878'
        best_features:
          type: array
          items:
            properties:
              feature_name:
                type: string
                example: satisfaction
              percent_positive:
                type: number
                example: 0.96
              total_reviews_mentioned:
                type: number
                example: 22
              positive_reviews_mentioned:
                type: number
                example: 21
              negative_reviews_mentioned:
                type: number
                example: 220
              incentivized_reviews_mentioned:
                type: number
                example: 12
              positive_reviews_average_rating:
                type: number
                example: 2.9
              negative_reviews_average_rating:
                type: number
                example: 1
              incentivized_reviews_average_rating:
                type: number
                example: 0.9
        worst_features:
          type: array
          items:
            properties:
              feature_name:
                type: string
                example: price
              percent_positive:
                type: number
                example: 0.56
              total_reviews_mentioned:
                type: number
                example: 17
              positive_reviews_mentioned:
                type: number
                example: 5
              negative_reviews_mentioned:
                type: number
                example: 4
              incentivized_reviews_mentioned:
                type: number
                example: 4
              positive_reviews_average_rating:
                type: number
                example: 4.8
              negative_reviews_average_rating:
                type: number
                example: 3
              incentivized_reviews_average_rating:
                type: number
                example: 3.7
    ProductFeatureQuotes:
      type: object
      properties:
        product_id:
          type: string
          example: 'product::8552878'
        bestFeatures:
          type: array
          items:
            properties:
              feature_name:
                type: string
                example: comfort
              percent_positive:
                type: number
                example: 0.96
              total_reviews_mentioned:
                type: number
                example: 22
              positive_reviews_mentioned:
                type: number
                example: 18
              negative_reviews_mentioned:
                type: number
                example: 3
              incentivized_reviews_mentioned:
                type: number
                example: 1
              positive_reviews_average_rating:
                type: number
                example: 4.2
              negative_reviews_average_rating:
                type: number
                example: 3
              incentivized_reviews_average_rating:
                type: number
                example: 2.1
              representative_quotes:
                items:
                  $ref: '#/components/schemas/Quotes'
        worstFeatures:
          type: array
          items:
            properties:
              feature_name:
                type: string
                example: appearance
              percent_positive:
                type: number
                example: 0.6
              total_reviews_mentioned:
                type: number
                example: 33
              positive_reviews_mentioned:
                type: number
                example: 22
              negative_reviews_mentioned:
                type: number
                example: 4
              incentivized_reviews_mentioned:
                type: number
                example: 7
              positive_reviews_average_rating:
                type: number
                example: 2.3
              negative_reviews_average_rating:
                type: number
                example: 1.1
              incentivized_reviews_average_rating:
                type: number
                example: 1.3
              representative_quotes:
                type: array
                items:
                  $ref: '#/components/schemas/Quotes'
    TopFeatureReviews:
      type: object
      properties:
        product_id:
          type: string
        bestFeatures:
          type: array
          items:
            properties:
              feature_name:
                type: string
                example: comfort
              percent_positive:
                type: number
                example: 0.96
              total_reviews_mentioned:
                type: number
                example: 22
              positive_reviews_mentioned:
                type: number
                example: 18
              negative_reviews_mentioned:
                type: number
                example: 3
              incentivized_reviews_mentioned:
                type: number
                example: 1
              positive_reviews_average_rating:
                type: number
                example: 4.2
              negative_reviews_average_rating:
                type: number
                example: 3
              incentivized_reviews_average_rating:
                type: number
                example: 2.1
              reviews:
                items:
                  $ref: '#/components/schemas/Reviews'
        worstFeatures:
          type: array
          items:
            properties:
              feature_name:
                type: string
                example: appearance
              percent_positive:
                type: number
                example: 0.6
              total_reviews_mentioned:
                type: number
                example: 33
              positive_reviews_mentioned:
                type: number
                example: 22
              negative_reviews_mentioned:
                type: number
                example: 4
              incentivized_reviews_mentioned:
                type: number
                example: 7
              positive_reviews_average_rating:
                type: number
                example: 2.3
              negative_reviews_average_rating:
                type: number
                example: 1.1
              incentivized_reviews_average_rating:
                type: number
                example: 1.3
              reviews:
                type: array
                items:
                  $ref: '#/components/schemas/Reviews'
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
  links: {}
  callbacks: {}
security: []
